# This block is a workaround for https://forum.gitlab.com/t/docker-dind-stops-working-after-12-1-0-update/28664/4.
services:
  - name: docker:dind
    entrypoint: ["env", "-u", "DOCKER_HOST"]
    command: ["dockerd-entrypoint.sh"]
variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2
  # See https://github.com/docker-library/docker/pull/166
  DOCKER_TLS_CERTDIR: ""

stages: [test, build, push, deploy]

build-image:
  stage: build
  image: docker:dind
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - export version=$(grep version openapi.yaml)
    - 'echo ${version#*: } > image_tag.txt'
    - docker build -t $CI_REGISTRY_IMAGE -t $CI_REGISTRY_IMAGE:$(cat image_tag.txt) .
    - docker push $CI_REGISTRY_IMAGE
    - docker push $CI_REGISTRY_IMAGE:$(cat image_tag.txt)
  artifacts:
    paths: [image_tag.txt]

docker-hub:
  stage: push
  image: docker:dind
  script:
    - echo $DOCKER_HUB_PASSWORD | docker login -u $DOCKER_HUB_USER --password-stdin https://index.docker.io/v1/
    - docker pull $CI_REGISTRY_IMAGE
    - docker pull $CI_REGISTRY_IMAGE:$(cat image_tag.txt)
    - docker tag $CI_REGISTRY_IMAGE $DOCKER_HUB_USER/crystal-skull
    - docker tag $CI_REGISTRY_IMAGE:$(cat image_tag.txt) $DOCKER_HUB_USER/crystal-skull:$(cat image_tag.txt)
    - docker push $DOCKER_HUB_USER/crystal-skull
    - docker push $DOCKER_HUB_USER/crystal-skull:$(cat image_tag.txt)

heroku-push:
  stage: push
  image: docker:dind
  script:
    - echo $HEROKU_AUTH_TOKEN | docker login --username=_ --password-stdin registry.heroku.com
    - docker pull $CI_REGISTRY_IMAGE
    - docker tag $CI_REGISTRY_IMAGE registry.heroku.com/$HEROKU_APP/web
    - docker push registry.heroku.com/$HEROKU_APP/web
    - echo $(docker inspect registry.heroku.com/$HEROKU_APP/web --format='{{.Id}}') > image_id.txt
  artifacts:
    paths: [image_id.txt]

heroku-release:
  stage: deploy
  image: appropriate/curl
  script: >
    curl -n -X PATCH https://api.heroku.com/apps/"$HEROKU_APP"/formation
      -d '{
        "updates": [
          {
            "type": "web",
            "docker_image": "'"$(cat image_id.txt)"'"
          }
        ]
      }'
      -H 'Content-Type: application/json'
      -H 'Accept: application/vnd.heroku+json; version=3.docker-releases'
      -H "Authorization: Bearer $HEROKU_AUTH_TOKEN"

pages:
  stage: deploy
  image: node
  script:
    - npm i -g redoc-cli
    - redoc-cli bundle spec.oas3.json -o public/index.html --title 'Crystal Skull'
  artifacts:
    paths: [public]
  only: [master]