# This block is a workaround for dind: https://forum.gitlab.com/t/docker-dind-stops-working-after-12-1-0-update/28664/4.
services:
  - name: docker:dind
    entrypoint: ["env", "-u", "DOCKER_HOST"]
    command: ["dockerd-entrypoint.sh"]
variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_DRIVER: overlay2
  # See https://github.com/docker-library/docker/pull/166
  DOCKER_TLS_CERTDIR: ""

stages: [test, version, build, deploy]

test-server:
  stage: test
  image: docker/compose
  script: docker-compose run test gradle test
  artifacts:
    when: always
    paths: [build/reports/tests/test/]

test-spec:
  stage: test
  image: node
  script: npx @stoplight/spectral lint docs/openapi.yaml

save-version:
  stage: version
  script:
    - version=$(./gradlew --no-daemon properties | grep version -m 1)
    - 'echo v${version#*: } > version.txt'
  artifacts:
    paths: [version.txt]
  only: [master]

build-docs:
  stage: build
  image: node
  script: npx redoc-cli bundle docs/openapi.yaml --title 'Crystal Skull'
  artifacts:
    paths: [redoc-static.html]
  only: [master]

github-release:
  stage: deploy
  image: openjdk:8
  script: ./gradlew --no-daemon githubRelease -PGITHUB_TOKEN=$GITHUB_TOKEN
  only: [master]

pages:
  stage: deploy
  script:
    - mkdir public
    - cp redoc-static.html public/index.html
  artifacts:
    paths: [public]
  only: [master]